#prevButton {
  left: 1cm; /* 모바일 화면에서 왼쪽 1cm */
}

#nextButton {
  right: 1cm; /* 모바일 화면에서 오른쪽 1cm */
}

/* 기본 버튼 스타일 */
@media (min-width: 768px) {
  #prevButton {
      left: 2cm; /* 데스크탑에서 왼쪽 2cm */
  }

  #nextButton {
      right: 2cm; /* 데스크탑에서 오른쪽 2cm */
  }
}

body, html {
    margin: 0; /* 기본 여백 제거 */
    padding: 0;
    height: 100vh;  /* 전체 높이 */
  }

  #prevButton, #nextButton {
    color: yellow;
    position: fixed;
    top: 45%;
    transform: translateY(-50%); /* 세로 중앙 정렬 */
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    font-size: 24pt;
